<div class="todos-content">
<section class="container board-container">
  <div class="header">
    <h1 class="headline">Todos Board</h1>
  </div>
  @if (todosStore.isLoading()) {
  <app-loader></app-loader>
  } @else {
  <div class="todos-section">
    <div class="todos-column">
      <h2>In progress</h2>
      <ul class="todos-list">
        @for (todo of todosStore.incompleteTodos(); track todo.id) {
        <app-todo-list-item
          [currentTodo]="todo"
        ></app-todo-list-item>
        } @empty {
        <li>There are no items.</li>
        }
      </ul>
    </div>
    <div class="todos-column">
      <h2>Completed</h2>
      <ul class="todos-list">
        @for (todo of todosStore.completedTodos(); track todo.id) {
        <app-todo-list-item
          [currentTodo]="todo"
        ></app-todo-list-item>
        } @empty {
        <li>There are no items.</li>
        }
      </ul>
    </div>
  </div>
  }
    </section>

  <section class="container" [class.hidden]="!showDetailsContainer()">
    <router-outlet />
  </section>
</div>
