<div class="container">
  <div class="header">
    <h1 class="headline">Todo List</h1>
    <app-todo-filter [value]="filterValue()" (valueChange)="onFilterChange($event)" />
  </div>
  @if (isLoading()) {
  <app-loader></app-loader>
  } @else {
  <div class="todos-section">
    <ul class="todos-list">
      @for (todo of filteredTodos(); track todo.id) {
      <app-todo-list-item
        [currentTodo]="todo"
        [selectedId]="selectedItemId()"
        [editingId]="editingItemId()"
        (removeCurrentTodo)="deleteTodoById($event)"
        (clickCurrentTodo)="selectTodoId($event)"
        (updateCurrentTodo)="updateTodo($event)"
        (openEditing)="openEditing($event)"
        (closeEditing)="closeEditing()"
      ></app-todo-list-item>
      } @empty {
      <li>There are no items. Type new task or change filter.</li>
      }
    </ul>
    <router-outlet />
  </div>
  }

  <app-todo-form (formSubmitted)="addNewTodo($event)"></app-todo-form>
</div>
