<div class="container">
  <div class="header">
    <h1 class="headline">Todo List</h1>
    <app-todo-filter [value]="filterValue()" (valueChange)="onFilterChange($event)" />
  </div>
  <div class="todos-section">
    @if (isLoading()) {
    <app-loader></app-loader>
    } @else {
    <ul class="todos-list">
      @for (todo of filteredTodos(); track todo.id) {
      <app-todo-list-item
        [currentTodo]="todo"
        [selectedId]="selectedItemId()"
        [editingId]="editingItemId()"
        (removeCurrentTodo)="deleteTodoById($event)"
        (clickCurrentTodo)="selectTodoId($event)"
        (updateCurrentTodo)="updateTodo($event)"
        (openEditing)="openEditing($event)"
        (closeEditing)="closeEditing()"
      ></app-todo-list-item>
      } @empty {
      <li>There are no items. Type new task or change filter.</li>
      }
    </ul>
    }
    <div>
      @if(currentDescription() !== null){
      <div class="todo-details">
        <h3>Description</h3>
        <p>{{ currentDescription() }}</p>
      </div>
      }
    </div>
  </div>
  <app-todo-form
    [(newTodoText)]="newTodoText"
    [(newTodoDescription)]="newTodoDescription"
    [isSubmitDisabled]="isSubmitDisabled()"
    (addTodo)="addNewTodo()"
  ></app-todo-form>
</div>
