<div class="container">
  <h1 class="header">Todo List</h1>

  <ul class="todos-list">
    @for (todo of todos; track todo.id){
    <app-todo-list-item
      [currentTodo]="todo"
      (removeCurrentTodo)="deleteTodoById($event)"
    ></app-todo-list-item>
    } @empty {
    <li>There are no items. Type new task.</li>
    }
  </ul>

  <form class="add-todo-form" (submit)="addNewTodo($event)">
    <mat-form-field class="form-input-wrapper">
      <input
        type="text"
        matInput
        class="form-input"
        placeholder="Add your new todo"
        [(ngModel)]="newTodoText"
        name="todo-input"
      />
    </mat-form-field>
    <button type="submit" class="form-submitBtn" [disabled]="isSubmitDisabled">Add task</button>
  </form>
</div>
