.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--mat-sys-tertiary-container);
  border-radius: 6px;
  padding-inline: 18px;
}

.todo-text {
  padding-block: 14px;
}
